[Unit]
Description=Uploads aircraft data from ADS-B receiver to The Cloud.
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u upload_aircraft_data.py
WorkingDirectory=/home/pi/upload-aircraft-data-service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
